.venv/
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class

data/
logs/

.DS_Store
Thumbs.db

.idea/
.vscode/

dist/
build/
*.spec~

mobile/vnu_course_mobile/.dart_tool/
mobile/vnu_course_mobile/.flutter-plugins
mobile/vnu_course_mobile/.flutter-plugins-dependencies
mobile/vnu_course_mobile/build/
mobile/vnu_course_mobile/coverage/
mobile/vnu_course_mobile/android/.gradle/
mobile/vnu_course_mobile/android/app/build/
mobile/vnu_course_mobile/ios/Flutter/ephemeral/
mobile/vnu_course_mobile/ios/Pods/
mobile/vnu_course_mobile/ios/.symlinks/
